


body {
    font-family: 'VT323', monospace;
    background-color: lightcoral;
    background-image:url("/images.eclipse.jpg");  

    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
}

div {
    font-size: 300%;
    text-align: center;
    color: lightcyan;
}

li {
    display: block;
    margin: auto;
    font-size:175%
}

li:hover {
    background-color: slateblue
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a {
    color: lightpink;
    padding: 4px 4px;
}

a:hover {
    padding: 4px 4px;
    background-color: slateblue
}


  
.currentPage {
    padding: 4px 4px;
    background-color: black;
}